{
    "{src,test,scripts,jest}/**/*.ts": [
        "prettier --write",
        "tslint",
        "git add"
    ],
    "{src,test,scripts,jest}/**/*.js": [
        "prettier --write",
        "git add"
    ]
}